<head>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/sidebar.css') }}"
  />
</head>

<div class="p-3 bg-dark {{ position }}-sidebar" id="sidebar-{{ position }}">
  <div class="toggle-sidebar">
    <a
      href="#"
      class="d-flex pb-3 mb-3 text-decoration-none border-bottom sidebar-control"
    >
      <i class="fa-solid fa-bars p-1" id="bar-i"></i>
      <span class="fs-5 fw-semibold" id="logo-name">İşlemler</span>
    </a>
  </div>

  <ul class="list-unstyled" id="sidebar-list">
    <li>
      <button
        class="btn btn-toggle rounded collapsed text-white toggle-button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse1"
        aria-expanded="false"
        id="add-row-button"
      >
        <span class="name">Satır Ekle</span>
      </button>
    </li>

    <li>
      <button
        class="btn btn-toggle rounded collapsed text-white toggle-button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse1"
        aria-expanded="false"
      >
        <span class="name">Sütun Ekle</span>
      </button>
    </li>

    <li>
      <button
        class="btn btn-toggle rounded collapsed text-white toggle-button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse1"
        aria-expanded="false"
        id="delete-row-button"
      >
        <span class="name">Seçili Satırı Sil</span>
      </button>
    </li>

    <li>
      <button
        class="btn btn-toggle rounded collapsed text-white toggle-button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse1"
        aria-expanded="false"
      >
        <span class="name">Seçili Sütunu Sil</span>
      </button>
    </li>

    <li>
      <button
        class="btn btn-toggle rounded collapsed text-white toggle-button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse13"
        aria-expanded="false"
        id="logout-button"
      >
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <span class="name">Çıkış Yap</span>
      </button>
    </li>
  </ul>
</div>

<script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
