<head>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/sidebar.css') }}"
  />
</head>

<div class="p-3 bg-dark {{ position }}-sidebar" id="sidebar-{{ position }}">
  <div class="toggle-sidebar">
    <a
      href="#"
      class="d-flex pb-3 mb-3 text-decoration-none border-bottom sidebar-control"
    >
      <i class="fa-solid fa-bars p-1" id="bar-i"></i>
      <span class="fs-5 fw-semibold" id="logo-name">Web App</span>
    </a>
  </div>

  <ul class="list-unstyled" id="sidebar-list">
    <li>
      <a href="{{ url_for('file_operations') }}">
        <button
          class="btn btn-toggle rounded collapsed text-white toggle-button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse2"
          aria-expanded="false"
        >
          <span class="name">Dosya İşlemleri</span>
        </button>
      </a>
    </li>

    <li>
      <!-- mathematical_operations sayfasında Analiz modülünü devre dışı bırak -->
      {% if request.endpoint != 'mathematical_operations' %}
      <button
        class="btn btn-toggle rounded collapsed text-white toggle-button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse3"
        aria-expanded="false"
      >
        <i class="fa-solid fa-chevron-down toggle-icon"></i>
        <span class="name">Analiz</span>
      </button>
      <div class="collapse" id="collapse3">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li>
            <a
              href="{{ url_for('mathematical_operations') }}"
              class="rounded"
              id="calculate-average"
              >Aritmetik Ortalama</a
            >
            <a
              href="{{ url_for('mathematical_operations') }}"
              class="rounded"
              id="calculate-geometric"
              >Geometrik Ortalama</a
            >
            <a
              href="{{ url_for('mathematical_operations') }}"
              class="rounded"
              id="calculate-harmonic"
              >Harmonik Ortalama</a
            >
            <a
              href="{{ url_for('mathematical_operations') }}"
              class="rounded"
              id="calculate-median"
              >Medyan</a
            >
            <a
              href="{{ url_for('mathematical_operations') }}"
              class="rounded"
              id="calculate-correlation"
              >Korelasyon</a
            >
            <a
              href="{{ url_for('mathematical_operations') }}"
              class="rounded"
              id="calculate-std-dev"
              >Standart Sapma</a
            >
            <a
              href="{{ url_for('mathematical_operations') }}"
              class="rounded"
              id="calculate-z-test"
              >Z Testi</a
            >
            <a
              href="{{ url_for('mathematical_operations') }}"
              class="rounded"
              id="calculate-t-test"
              >T Testi</a
            >
            
          </li>
        </ul>
      </div>
      {% endif %}
    </li>

    <li>
      <button
        class="btn btn-toggle rounded collapsed text-white toggle-button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse13"
        aria-expanded="false"
        id="logout-button"
      >
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <span class="name">Çıkış Yap</span>
      </button>
    </li>
  </ul>
</div>

<script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
