{% extends "partials/base.html" %} {% set show_sidebar = true %} {% set
show_right_sidebar = false %} {% block title %}Analiz{% endblock %} {% block
content %}

<!-- sayfa başlangıcı -->

{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%}
<div id="file_div">
  {% for category, message in messages %} {% if category == 'file_success' %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
  </div>
  {% elif category == 'file_danger' %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message }}
  </div>
  {% endif %} {% endfor %}
</div>
{% endif %} {% endwith %}

<div id="file_div" data-file-name="{{ file_name }}">
  <div class="card file-upload-card">
    <div class="card-title">
      <h3 class="text-center fw-bold">Analiz</h3>
      {% if file_name %}
      <p class="text-center text-secondary">
        Dosya: <strong>{{ file_name }}</strong>
      </p>
      {% endif %}
    </div>
    <div class="card-body">
      {% if content %} {% if content.startswith('<table') %}
      <!-- html tablosu render ediliyor -->
      <div class="table-responsive">{{ content|safe }}</div>
      {% else %}
      <!-- Metin içeriği render ediliyor -->
      <textarea
        id="text"
        readonly
        class="text-content"
        style="
          width: 100%;
          height: 400px;
          overflow-x: auto;
          white-space: pre-wrap; 
          resize: vertical;
        "
      >
      {{ content }}
      </textarea>

      {% endif %} {% else %}
      <p class="text-center text-danger">Dosya içeriği bulunamadı.</p>
      {% endif %}
      <div class="text-center mt-2">
        <button class="btn btn-file" type="submit">
          <a href="{{ url_for('file_operations') }}"
            >Dosya İşlemlerine Geri Dön</a
          >
        </button>
        {% if content %} {% if content.startswith('<table') %}
        <button class="btn btn-file" type="submit" id="clear-button">
          <a href="#">Seçimleri Temizle</a>
        </button>
        {% else %} {% endif %} {% endif %}
      </div>
    </div>
  </div>

  <!-- TODO: Yapılacak -->
  <div id="loading-indicator" style="display: none">
    <div class="loading-content">
      <div class="spinner"></div>
      <div class="loading-text">Yükleniyor...</div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/select-cells.js') }}"></script>

  {% endblock %}
</div>
