{% extends "base.html" %} {% block title %}Ana Sayfa{% endblock %} {% block
content %}

<div class="container">
  <div class="form-container-home">
    <form action="#" method="post">
      <div class="row">
        <h2 class="text-center fw-bold">DOSYA YÜKLE</h2>

        <div class="form-group col-9">
          <input
            type="file"
            id="file"
            name="file"
            class="form-control"
            required
          />
        </div>

        <div class="form-group col-3">
          <button type="submit" class="col-4 btn btn-primary w-100">
            Yükle
          </button>
        </div>
      </div>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <div class="alert-container">
      <ul>
        {% for category, message in messages %}
        <li class="alert alert-{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %} {% endwith %}
  </div>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
