{% extends "base.html" %} {% block title %}Ana Sayfa{% endblock %} {% block
content %}

<div class="container">
  <div class="form-container-home">
    <form
      action="{{ url_for('upload_file_route') }}"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="row">
        <h2 class="text-center fw-bold">Dosya Yükle</h2>
        <div class="form-group col-9">
          <input
            type="file"
            id="file"
            name="file"
            class="form-control"
            required
          />
        </div>
        <div class="form-group col-3">
          <button type="submit" class="col-4 btn btn-primary w-100">
            Yükle
          </button>
        </div>
      </div>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <div class="alert-container">
      <ul>
        {% for category, message in messages %}
        <li class="alert alert-{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %} {% endwith %}
  </div>

  <div class="mt-5">
    <h2 class="text-center fw-bold">Son Yüklenen Dosya</h2>

    {% if last_file %}
    <p><strong>Dosya Adı:</strong> {{ last_file.filename }}</p>

    {% if last_file.filename.endswith('.pdf') %}
    <!-- PDF dosyasını tarayıcıda görüntüleme -->
    <object
      data="{{ url_for('get_latest_file') }}"
      type="application/pdf"
      width="100%"
      height="600px"
    >
      Tarayıcınız PDF görüntülemeyi desteklemiyor.
    </object>
    {% else %}
    <p>Dosya türü: {{ last_file.filename }}</p>
    <p>Bu dosya PDF değil, dolayısıyla görüntülenemez.</p>
    {% endif %} {% else %}
    <p>Henüz bir dosya yüklenmemiş.</p>
    {% endif %}
  </div>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% endblock %}
