{% extends "partials/base.html" %} {% set show_sidebar = true %} {% set
show_right_sidebar = false %} {% block title %}Matematiksel İşlemler{% endblock
%} {% block content %}

<!-- sayfa başlangıcı -->

{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%}
<div id="file_div">
  {% for category, message in messages %} {% if category == 'file_success' %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
  </div>
  {% elif category == 'file_danger' %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message }}
  </div>
  {% endif %} {% endfor %}
</div>
{% endif %} {% endwith %}

<div id="file_div">
  <div class="card file-upload-card">
    <div class="card-title">
      <h3 class="text-center fw-bold">{{ title }}</h3>
      {% if selected_values %}
      <p class="text-center text-secondary">
        Seçilmiş Sayılar: <strong>{{ selected_values | join(', ') }}</strong>
      </p>
      {% endif %}
    </div>
    <div class="card-body">
      {% if result is not none %}
      <h5>Sonuç: {{ result | round(2) }}</h5>
      <div class="text-center mt-3">
        <img src="{{ url_for('plot') }}" alt="Grafik" class="img-fluid" />
      </div>
      {% else %}
      <h5>Henüz bir işlem yapılmadı.</h5>
      {% endif %}
      <div class="text-center mt-2">
        <button class="btn btn-file" type="submit">
          <a href="{{ url_for('file_operations') }}"
            >Dosya İşlemlerine Geri Dön</a
          >
        </button>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
