<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ollama İstemcisi</title>
    <link
    rel="stylesheet"
    href="/static/css/ollama-chat.css/"
  />
</head>
<body>
    <div class="container">
        <h2>Ollama API İstemcisi</h2>
        <textarea id="prompt" rows="5" placeholder="Bir şeyler yazın..."></textarea>
        <br>
        <button onclick="sendRequest()">Gönder</button>
        <div id="response"></div>
        <div id="spinner" style="display: none; margin-top: 20px;">
            <div class="loader"></div>
        </div>
    </div>
    <script src="/static/js/ollama-chat.js"></script>
</body>
</html>