{% extends "partials/base.html" %} {% set show_sidebar = true %} {% set
show_right_sidebar = false %} {% block title %} İşlem Geçmişi {% endblock %} {%
block content %}

<!-- sayfa başlangıcı -->
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%}
<div id="file_div">
  {% for category, message in messages %} {% if category == 'file_success' %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
  </div>
  {% elif category == 'file_danger' %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message }}
  </div>
  {% endif %} {% endfor %}
</div>
{% endif %} {% endwith %}

<div id="file_div" data-file-name="{{ file_name }}">
  <!-- Modal -->
  <div id="myModal" class="modal">
    <i class="close fa-solid fa-xmark"></i>
    <img class="modal-content mt-3" id="modal-img" />
    <div class="modal-caption" id="modal-caption"></div>
  </div>

  <div class="card file-upload-card">
    <div class="card-title">
      <h3 class="text-center fw-bold">Log Kayıtları</h3>
    </div>
    <div class="card-body">
      <div class="text-center mb-4">
        <button class="btn btn-file" type="button" id="mathematical-logs-btn">
          Matematiksel Analiz Logları
        </button>
        <button class="btn btn-file" type="button" id="textual-logs-btn">
          Metinsel Analiz Logları
        </button>
      </div>
      {% if logs %}
      <div class="table-responsive" id="logs-table" style="display: none">
        <table class="table table-bordered table-hover table-operation-logs">
          <thead>
            <tr>
              <th>İşlem Türü</th>
              <th>Girdi Değerleri</th>
              <th>Sonuç</th>
              <th>Grafik</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for log in logs %}
            <tr
              data-operation="{{ log[0] }}"
              data-input-values="{{ log[1] }}"
              data-result="{{ log[2] }}"
              data-graph="{{ log[4] }}"
            >
              <td>{{ log[0] }}</td>
              <td>{{ log[1] }}</td>
              <td>{{ log[2] }}</td>
              <td>
                {% if log[4] %}
                <img
                  src="{{ url_for('static', filename=log[4].replace('\\', '/').replace('static/', '')) }}"
                  alt="Grafik"
                  class="img-fluid open-modal"
                  data-operation="{{ log[0] }}"
                  data-input-values="{{ log[1] }}"
                  data-result="{{ log[2] }}"
                  data-graph="{{ log[4] }}"
                />
                {% else %} Yok {% endif %}
              </td>
              <td>
                <button type="submit" class="btn btn-danger delete-log-btn">
                  Sil
                </button>
              </td>
              <td>
                <button
                  class="btn btn-primary download-pdf-btn"
                  data-operation="{{ log[0] }}"
                  data-input-values="{{ log[1] }}"
                  data-result="{{ log[2] }}"
                  data-graph="{{ log[4] }}"
                >
                  PDF İndir
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <p class="text-center text-danger">Dosya içeriği bulunamadı.</p>
      {% endif %}
      <div class="text-center mt-2">
        <button
          class="btn btn-file"
          type="submit"
          onclick="sendSelectedRowsToOllama()"
        >
          Ollama ile Sohbet
        </button>
        <button class="btn btn-file" type="submit">
          <a href="{{ url_for('file_operations') }}"
            >Dosya İşlemlerine Geri Dön</a
          >
        </button>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/log-select-cells.js') }}"></script>

  {% endblock %}
</div>
